@{
    ViewData["Title"] = "Home Page";
}
<style>
    .transient{
        background-color: darksalmon
    }
    .singleton{
        background-color: aquamarine
    }
</style>

<div class="text-center">
    <h2c lass="display-4">Dependency Injection Lifetime
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tipo do serviço</th>
            <th>Primeira instância do serviço</th>
            <th>Segunda instância do serviço</th>
        </tr>
    </thead>
    <tbody>
        <tr class="transient">
            <td>
                Transient
            </td>
            <td>
                @ViewBag.transient1
            </td>
            <td>
                @ViewBag.transient2
            </td>
        </tr>
        <tr>
            <td>Scoped</td>
            <td>@ViewBag.scoped1</td>
            <td>@ViewBag.scoped2</td>
        </tr>
        <tr class="singleton">
            <td>
                Singleton
            </td>
            <td>
                @ViewBag.singleton1
            </td>
            <td>
                @ViewBag.singleton2
            </td>
        </tr>
    </tbody>
</table>


